doctype html
html
  head
    title Harry Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar
      ul
        div#logo
            img(src="/static/img/logo.png")
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/") Services]
        li #[a(href="/") Class Info]
        li #[a(href="/") Contact Us]
    section#introSection
      p.first Welcome to my new wevsite "Sundeep Kumar's Website"
      p.second this is all about dance. You are acheiving great opportunity to be a part of this.

    section#missionSection
      div.card
        h4 Dance perfection
        div.img
          img(src="/static/img/card1.png", alt="")
        div.para
          | This is a dance perfection portion. this is a best dance academy of your district in Rahim
      div.card
        h4 Dance perfection
        div.img
          img(src="/static/img/card1.png", alt="")
        div.para
          | This is a dance perfection portion. this is a best dance academy of your district in Rahim
      div.card
        h4 Dance perfection
        div.img
          img(src="/static/img/card1.png", alt="")
        div.para
          | This is a dance perfection portion. this is a best dance academy of your district in Rahim

    section#sponsorsSection
      | this is a sponsors section